<p id="landing-paragraph">
  Welcome, <br><br>
  This is a space for you to get ideas of where to travel next (and maybe more importantly, where to eat). I love researching new places before I visit and reading through lots of reviews from different sites; so here are my collective findings all in one place. I am based in Birmingham, UK so many of the recommendations are of Birmingham and other cities in England, but as I travel and discover new countries and cities around the world, I will document it here. Throughout the posts I have included little tips which I have highlighted in green and any accommodation/food/ activities that I would recommend are highlighted in pink. I have also included hyperlinks to other websites that could be of interest. Circular_Motion is for people to find some inspiration about their next adventure, whether that be a coffee in the cotswolds or a solo adventure to Morocco. I hope you enjoy browsing the archives and pick up a few ideas along the way. <br>
  <br>Nina x
</p>
<div id="gallery">
    <div class="container">
        <img src="../media/Gallery/IMG_5615.JPG" alt="Avatar" class="image" style="width:100%" onclick="clickedOnGalleryImage()">
        <div class="middle">
          <div class="text">Krakow</div>
        </div>
    </div>
    <div class="container">
        <img src="../media/Gallery/IMG_5616.JPG" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Krakow</div>
        </div>
    </div>
    <div class="container">
        <img src="../media/Gallery/IMG_5635.JPG" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Krakow</div>
        </div>
    </div>
    <div class="container">
        <img src="../media/Gallery/IMG_5847.JPG" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Krakow</div>
        </div>
    </div>
    <div class="container">
        <img src="../media/Gallery/IMG_5910.JPG" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Krakow</div>
        </div>
    </div>
    <div class="container">
      <img src="../media/Gallery/cov_square.jpg" alt="Avatar" class="image" style="width:100%">
      <div class="middle">
        <div class="text">Coventry</div>
      </div>
      <div class="container">
        <img src="../media/Gallery/IMG_20191005_130003.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Morocco</div>
        </div>
  </div>
  <div class="container">
    <img src="../media/Gallery/IMG_7539.JPG" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text">Manchester</div>
      
</div>