<!-- header with navigation -->
<div id="header-container">
    <div id="custom-header">
        <a href="/">circular_motion</a>    
    </div>
    <div class="nav">
        <div class="nav-item closed">
          <div class="title">Birmingham</div>
          <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
          </ul>
        </div>
        <div class="nav-item closed">
          <div class="title">Austria</div>
          <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
          </ul>
        </div>
        <div class="nav-item closed">
          <div class="title">England</div>
          <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
          </ul>
        </div>
        <div class="nav-item closed">
            <div class="title">Holland</div>
            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
            </ul>
          </div>
          <div class="nav-item closed">
          <div class="title">Hungary</div>
          <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
          </ul>
        </div>
          <div class="nav-item closed">
          <div class="title">Italy</div>
          <ul>
            <li>option 1</li>
            <li>option 2</li>
            <li>option 3</li>
          </ul>
        </div>
        <div class="nav-item closed">
            <div class="title">Morocco</div>
            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
            </ul>
          </div>
          <div class="nav-item closed">
            <div class="title">Poland</div>
            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
            </ul>
          </div>
          <div class="nav-item closed">
            <div class="title">Slovakia</div>
            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
            </ul>
          </div>
          <div class="nav-item closed">
            <div class="title">Spain</div>
            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
            </ul>
          </div>

      </div>
</div>
<script src="../js/navigation.js"></script>

