<!-- header with navigation -->
<div id="header-container">
    <div id="custom-header">
        <a href="/">circular_motion</a>    
    </div>
    <div id="country-nav">
        <div>Bratislava</div>
        <div>Morocco</div>
        <div>Vienna</div>
        <div>Coventry</div>
        <div>Bratislava</div>
        <div>Morocco</div>
        <div>Vienna</div>
        <div>Coventry</div>
        <div>Bratislava</div>
        <div>Morocco</div>
        <div>Vienna</div>
        <div>Coventry</div>
        <div>Bratislava</div>
        <div>Morocco</div>
        <div>Vienna</div>
        <div>Coventry</div>
    </div>
</div>
<script src="../js/navigation.js"></script>

