<!-- header with navigation -->
<div id="header-container">
    <div id="custom-header">
        <a href="/">circular_motion</a>    
    </div>
    <div class="topnav">
        <div class="dropdown">
            <button class="dropbtn">
                Birmingham
            </button>
            <div class="dropdown-content">
              <a href="#">China Town</a>
              <a href="#">City Centre</a>
              <a href="#">Digbeth</a>
              <a href="#">Jewellery Quarter</a>
              <a href="#">Kings Heath</a>
              <a href="#">Moseley</a>
              <a href="#">Stirchley</a>
              <a href="#">Green Spaces</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Austria
            </button>
            <div class="dropdown-content">
              <a href="#">Vienna</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                England
            </button>
            <div class="dropdown-content">
              <a href="#">Bath</a>
              <a href="#">Birmingham</a>
              <a href="#">Bristol</a>
              <a href="#">Cheltenham</a>
              <a href="#">The Cotswolds</a>
              <a href="#">Coventry</a>
              <a href="#">Hebden Bridge</a>
              <a href="#">Isle of Portland</a>
              <a href="#">Leamington Spa</a>
              <a href="#">Manchester</a>
              <a href="#">St Ives</a>
              <a href="#">York</a>



            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Holland
            </button>
            <div class="dropdown-content">
              <a href="#">Amsterdam</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Hungary
            </button>
            <div class="dropdown-content">
              <a href="#">Budapest</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Italy
            </button>
            <div class="dropdown-content">
              <a href="#">Sardinia</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Morocco
            </button>
            <div class="dropdown-content">
              <a href="#">Imsouane</a>
              <a href="#">Essaouira</a>
              <a href="#">Marrakech</a>
              <a href="#">Fes</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Poland
            </button>
            <div class="dropdown-content">
              <a href="#">Krakow</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Slovakia
            </button>
            <div class="dropdown-content">
              <a href="#">Bratislava</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">
                Spain
            </button>
            <div class="dropdown-content">
              <a href="#">Barcelona</a>
            </div>
          </div>
    </div>
</div>
<script src="../js/navigation.js"></script>

